:root {
--ebony: #575c55ff;
--fuzzy-wuzzy: #c97064ff;
--dark-sea-green: #7ebc89ff;
--maximum-yellow-red: #ffc857ff;
--cultured: #f1edeeff;
font-size: 16px;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
	color: var(--cultured);
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
	background-color: var(--ebony);
}

h1 {
	text-align: center;
	margin: 1em auto;
	font-size: min(3rem, calc(1.5rem + 4dvw));
}

h2 {
	text-align: center;
	font-size: min(2rem, calc(1rem + 2dvw));
	margin: 1em auto;
}

.new-game {
	background-color: var(--maximum-yellow-red);
	color: var(--ebony);
	display: grid;
	margin: 0 auto;
	width: min(300px, 70dvw);
	border-radius: 0.25rem;
	cursor: pointer;
}

.new-game-wrapper.hidden {
	display: none;
}

.new-game-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.new-game-wrapper label {
	margin: auto;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-size: calc(1rem + 1dvw);
	vertical-align: center;
}

label > input {
	height: calc(1rem + 2dvh);
	padding-left: 0.5rem;
	color: var(--ebony);
}

.new-game > h2 {
	text-shadow: 0 0 4px var(--ebony);
}

.game-board {
	display: grid;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	width: min(600px, 90dvw);
	height: min(600px, 90dvw);
	margin: 0 auto;
	background-color: var(--maximum-yellow-red);
	border-radius: 0.35rem;
	padding: calc(0.6dvh + 0.75dvw);
	gap: calc(0.3dvh + 0.375dvw);
}

.game-board.hidden {
	display: none;
}

.game-over-wrapper.hidden {
	display: none;
}

.space {
	background-color: var(--cultured);
	display: grid;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: 0 0 0.5rem #00000069, inset 0 0 0.5rem #00000069;
}

.space > p {
	color: var( --ebony);
	font-size: calc(2rem + 6dvw);
}